$primary: rgb(37, 190, 255);
$primary-transparent: rgba(37, 190, 255, 0.434);

$black: #100f0f;
$black-dark: #000000;
$black-transparent: #100f0f86;

$white: #f8f9fa;
$white-transparent: #ffffff05;

$gold: #dfb13e;
$silver: #d0cfcf;
$bronze: #8e5924;
