@use 'src/styles/base/_colors' as *;
@import './reset';

* {
  box-sizing: border-box;
  color: $white;
}

body {
  background-color: $black;
}

a {
  color: inherit;
  text-decoration: none;
}

h1 {
  font-size: 5rem;
  font-weight: 500;
}

h2 {
  font-size: 3rem;
  font-weight: 500;
}

h3 {
  font-size: 2rem;
  font-weight: 500;
}
