@use 'src/styles/base/_colors' as *;
@use 'src/styles/utils/z-index' as *;
@use 'src/styles/utils/custom' as *;

.modal {
  width: fit-content;
  height: fit-content;
  display: flex;
  flex-direction: column;
  padding: 0;
  @include glassBasicStyle;
}

.modal::backdrop {
  background-color: nth($black-transparent, 1);
}

.modal__content {
  min-width: 30rem;
  min-height: 35rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}

.modal__button {
  align-self: flex-end;
  padding-top: 1rem;
  padding-right: 1rem;
  font-size: 2rem;
}
