@use 'src/styles/base/_colors' as *;
@use 'src/styles/utils/z-index' as *;
@use 'src/styles/utils/custom' as *;

.list-box {
  @include glassBasicStyle;
  display: grid;
  gap: 1.5rem;
  min-width: 35rem;
  min-height: 30rem;
  padding: 4rem 2rem;
}

.list-box__title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.5rem;
  text-transform: uppercase;
}
