@use 'src/styles/base/_colors' as *;

.button {
  color: $white;
  background: transparent;
  border: 0.01rem solid $white;

  &:hover {
    cursor: pointer;
  }

  &.lg {
    padding: 1rem 2rem;
    font-size: 1.5rem;
    // width: 100%;
  }
}
