@use 'src/styles/base/_colors' as *;
@use 'src/styles/utils/z-index' as *;

.header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: $transparent-black;
  text-align: center;
  font-size: 5rem;
  @include z-index(header);
}
