@use 'src/styles/base/_colors' as *;
@use 'src/styles/utils/z-index' as *;

.header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 4.5rem;
  background-color: $transparent-black;
  @include z-index(header);
}
