.user-rank-container {
  display: flex;
  align-items: center;
  overflow: hidden;

  & > :nth-child(1) {
    animation: rollingleft1 140s linear infinite;
  }

  & > :nth-child(2) {
    animation: rollingleft2 140s linear infinite;
  }
}

.user-rank-list {
  display: flex;
}

.user-rank-item {
  padding: 0 1rem;
}

.user-rank-item__info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 0;
  font-size: 1.3rem;
  word-spacing: 0.5rem;
}

@keyframes rollingleft1 {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-100%);
  }
  50.01% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes rollingleft2 {
  0% {
    transition: translateX(0);
  }
  100% {
    transform: translateX(-200%);
  }
}
