@use 'src/styles/base/_colors' as *;

.home {
  position: relative;
  display: grid;
  gap: 5rem;
}

.home__bg1 {
  position: absolute;
  top: 30%;
  left: 5%;
  width: 20rem;
  height: 20rem;
  background: $primary;
  filter: blur(22rem);
}

.home__bg2 {
  position: absolute;
  top: 47%;
  right: 0;
  width: 15rem;
  height: 15rem;
  background: $primary;
  filter: blur(15rem);
}

.home__bg3 {
  position: absolute;
  top: 65%;
  left: 30%;
  width: 10rem;
  height: 15rem;
  background: $primary;
  filter: blur(16rem);
}

.home__bg4 {
  position: absolute;
  top: 90%;
  right: 30%;
  width: 30rem;
  height: 13rem;
  background: $primary;
  filter: blur(25rem);
}
