.section-player {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  padding-top: 5rem;
  & > :nth-child(1) {
    grid-column: 2/4;
  }

  & > :nth-child(2) {
    grid-column: 6/6;
  }
}

.section-team {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.section-player,
.section-user,
.section-team {
  padding-bottom: 10rem;
}
