@use 'src/styles/utils/_animations' as *;

.carousel {
  position: relative;
}

.carousel__team {
  width: 20em;
  height: auto;
  @include slide-in-right(5.5s, 20%);
}

.carousel__player {
  position: absolute;
  top: 20%;
  right: 0;
  width: 15rem;
  height: auto;
  @include slide-in-left(5.5s, 20%);
}
