@use 'src/styles/base/_colors' as *;

.team-rank-table {
  width: 100%;
  border-collapse: collapse;
}

.team-rank-table__header {
  th {
    text-transform: uppercase;
    padding: 0.5rem 0;
  }
}

.team-rank-table__body {
  tr {
    border-bottom: 0.01rem solid $white-transparent;
  }

  td {
    text-align: center;
    vertical-align: middle;
    padding: 1rem 0;
  }

  img {
    border-radius: 0.1rem;
  }
}
