@use 'src/styles/base/_colors' as *;

.user-rank-container {
  display: flex;
  align-items: center;
  overflow: hidden;

  & > :nth-child(1) {
    animation: rollingleft1 140s linear infinite;
  }

  & > :nth-child(2) {
    animation: rollingleft2 140s linear infinite;
  }
}

.user-rank-list {
  display: flex;

  & > :nth-child(1),
  :nth-child(2),
  :nth-child(3) {
    & > .user-rank-item__image {
      position: relative;
      &::before {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        content: '';
      }

      > img {
        width: 11.5rem;
        height: 11.5rem;
      }
    }
  }

  & > :nth-child(1) {
    & > .user-rank-item__image::before {
      background: linear-gradient(
        45deg,
        nth($white-transparent, 3),
        $gold,
        nth($white-transparent, 3)
      );
    }
  }

  & > :nth-child(2) {
    & > .user-rank-item__image::before {
      background: linear-gradient(
        45deg,
        nth($white-transparent, 3),
        $silver,
        nth($white-transparent, 3)
      );
    }
  }

  & > :nth-child(3) {
    & > .user-rank-item__image::before {
      background: linear-gradient(
        45deg,
        nth($white-transparent, 3),
        $bronze,
        nth($white-transparent, 3)
      );
    }
  }
}

@keyframes rollingleft1 {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-100%);
  }
  50.01% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes rollingleft2 {
  0% {
    transition: translateX(0);
  }
  100% {
    transform: translateX(-200%);
  }
}
